[submodule "themes/elate"]
	path = themes/elate
	url = https://github.com/saey55/hugo-elate-theme
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
